<ion-header>
  <ion-toolbar>
    <ion-title>Cadastro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
 <form action="">
    <div class="ion-padding">
      <ion-label position="stacked" color="primary">
        Envie-nos seu feedback, dúvidas ou sugestões:
      </ion-label>
      <ion-textarea name="messageField" rows="4"[(ngModel)]="messageField">
      </ion-textarea>
    </div>
    <div class="ion-padding">
      <ion-label position="stacked" color="primary">
        Informação de contato:
      </ion-label>
      <ion-input name="contactField" type="text" [(ngModel)]="contactField">
      </ion-input>
    </div>
    <div class="ion-padding">
      <ion-button type="submit" expand="block" name="buttonLogin">
        Enviar
      </ion-button>
    </div>
 </form>
</ion-content>
